<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>{{title}}</title>
</head>
<body>
   <h2>Nombre del curso:</h2>
   <p>{{curso}}</p>

   <h2>Nombre del profesor:</h2>
   <p>{{profesor}}</p>

   <h2>Fecha del curso:</h2>
   <p>{{day}}</p>
</body>
</html>